<app-navbar></app-navbar>

<div class="featured-background">
  <h2>¡Descubre nuestros mejores productos!</h2>
</div>

<div class="main-container">
  <app-product-list></app-product-list>
</div>

<footer class="footer">
    <div class="footer-section">
      <h3>Tienda</h3>
      <ul>
        <li><a routerLink="/dogs">Perros</a></li>
        <li><a routerLink="/cats">Gatos</a></li>
        <li><a routerLink="/others">Otros</a></li>
      </ul>
    </div>
  
    <div class="footer-section">
      <h3>Info</h3>
      <ul>
        <li><a routerLink="/about">Nosotros</a></li>
        <li><a routerLink="/contact">Contacto</a></li>
        <li><a routerLink="/shipping">Envío y devoluciones</a></li>
        <li><a routerLink="/policy">Política de la tienda</a></li>
        <li><a routerLink="/forum">Foro</a></li>
        <li><a routerLink="/faq">FAQ</a></li>
      </ul>
    </div>
    
    <div class="main-container">
        <app-product-list></app-product-list>
      </div>
      
      <h2 style="text-align: center; margin-top: 50px;">Veterinarias Cercanas</h2>
      <div class="main-container">
        <app-vet-list></app-vet-list>
      </div>
      
  
    <div class="footer-section special-offers">
      <h3>Ofertas especiales</h3>
      <form>
        <label for="email">Email*</label>
        <input type="email" id="email" placeholder="Ingresa tu email" required />
        <button type="submit">Suscribirse</button>
      </form>
      <p>¡Gracias por tu mensaje!</p>
    </div>
  </footer>
  

<router-outlet></router-outlet>

